@import "notifications";
@import "popup-create-lobby";

@font-face {
  font-family: 'VisitorTT1BRK';
  src: url('../fonts/VisitorTT1BRK.woff') format('woff'),
       url('../fonts/VisitorTT1BRK.ttf') format('truetype'),
       url('../fonts/VisitorTT1BRK.svg#VisitorTT1BRK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visitor1';
  src: url('../fonts/visitor1.eot');
  src: url('../fonts/visitor1.eot?#iefix') format('embedded-opentype'),
       url('../fonts/visitor1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
    font-family: 'visitor1', 'VisitorTT1BRK', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    position: relative;
}

.test {
    z-index: 50;
    position: fixed;
    bottom: 0;
}

.disable-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes animatedBackground {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-20000000px);
	}
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

    .bg-0 {
      position: absolute;
      bottom: 0;
      left: 0;
    	width: 3000000%;
    	height: 20vh;
    	background: url("../images/mario-ground.png");
      background-size: auto 20vh;
    	background-position: 0px 0px;
    	background-repeat: repeat-x;
      animation-name: animatedBackground;
      animation-duration: 200000s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    .bg-1 {
      position: absolute;
      bottom: 20vh;
    	width: 3000000%;
    	height: 50vh;
    	background-image: url("../images/mario-hills.png");
      background-size: auto 50vh;
    	background-position: 0px 0px;
    	background-repeat: repeat-x;
      animation-name: animatedBackground;
      animation-duration: 200000s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
}

.content {
    height: 100%;

    .login {
        display: none;
        min-height: 100%;

        form {

            label[for="username"] {
                display: none;
            }

            input[type="submit"] {
                width: calc(50% - 5px);
            }

        }
    }

    .session {
        display: none;
        height: 100%;
        flex-direction: column;

        .session-stretch {
            height: calc(100% - 15px);
        }

        .row {

            .profile {
                margin-top: 15px;
                padding: 10px;
                height: 100%;
                position: relative;

                .profile-logout {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 5px;
                    margin: 5px;
                    height: 27px;
                    z-index: 3;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .profile-container {

                    position: relative;
                    width: 100%;

                    div {
                        display: inline-block;
                    }

                    .avatar {
                        width: 25%;
                        padding-right: 10px;
                    }

                    .profile-section-exp {
                        height: 100%;
                        width: 75%;
                        position: absolute;

                        .username {
                            display: block;
                            height: 25%;
                            position: relative;
                            font-size: 14pt;
                            font-size: 150%;
                            line-height: 1em;
                        }

                        .rank {
                            position: relative;
                            top: -4px;
                            height: 25%;
                            font-size: 9pt;
                            font-size: 85%;
                        }

                        .exp {
                            position: relative;
                            top: -10%;
                            height: 50%;
                            display: block;

                            .exp-value {
                                position: absolute;
                                display: inline-block;
                                font-size: 8pt;
                                font-size: 75%;
                                height: 25%;
                            }

                            .exp-bar {
                                border: 1px solid black;
                                height: 55%;
                                width: 85%;
                                bottom: 0;
                                position: absolute;

                                .exp-fill {
                                    height: 100%;
                                    width: 0%;
                                    background-color: black;
                                }
                            }

                            .exp-rank {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                height: 55%;
                                width: 11%;
                            }
                        }
                    }
                }

                .profile-divider {
                    display: block;
                    position: relative;
                    height: 1px;
                    margin: 10px 0;
                    background-color: black;
                }

                .user-list {
                    thead th {
                        text-align: center;
                    }
                }
            }

            .session-main {
                padding: 0;

                @media (max-width: 991px) {
                    padding: 0 15px;
                }

                .lobby-panel {
                    text-align: center;
                    padding: 10px;
                    height: calc(60% - 10px);
                    margin-top: 15px;
                    position: relative;



                    .lobby-status {
                        opacity: .5;
                        position: relative;
                        top: calc(50% - 34px);
                    }

                    .lobby-list {
                        display: none;
                        position: relative;
                        height: calc(100% - 44px);
                        text-align: initial;

                        tbody {
                            tr:hover {
                                background-color: #DCDCDC;
                            }
                        }
                    }

                    .session-buttons {
                        position: absolute;
                        width: 100%;
                        bottom: 10px;
                        left: 0;

                        .fa {
                            display: none;
                            padding: 1px;
                        }
                    }
                }

                .activity-panel {
                    position: relative;
                    height: calc(40% - 10px);
                    @media (max-width: 991px) {
                        height: calc(24% - 10px);
                    }
                }

                .lobby-active-panel {
                    display: none;
                    margin-top: 15px;
                    padding: 15px;
                    position: relative;
                    height: 100%;
                }

                #trigger-session, #join-session, #create-lobby {
                    display: none;
                }

            }

        }
    }
}

.profile-mobile-row {
    display: block;
    position: absolute;
    top: 86vh;
    width: 100%;

    .profile-mobile {
        position: relative;
        height: 100vh;
        padding: 5px;
        -webkit-box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.2);

        .profile-mobile-close {
            display: none;
            position: absolute;
            padding: 10px;
            right: 0;
            top: 0;
        }

        .profile-logout {
            display: none;
            position: absolute;
            top: 0;
            right: 40px;
            padding: 10px;
        }

        .profile-container {
            position: relative;
            height: calc(14vh - 10px);

            div {
                display: inline-block;
            }

            .avatar-mobile {
                width: auto;
                height: 100%;
                padding-right: 5px;

                img {
                    height: 100%;
                }

            }

            .profile-mobile-section-exp {
                height: 100%;
                width: 75%;
                position: absolute;

                .username {
                    display: block;
                    height: 25%;
                    position: relative;
                    font-size: 14pt;
                    font-size: 150%;
                    line-height: 1em;
                }

                .rank {
                    position: relative;
                    top: -4px;
                    height: 25%;
                    font-size: 9pt;
                    font-size: 85%;
                }

                .exp-mobile {
                    position: relative;
                    top: -10%;
                    height: 50%;
                    display: block;

                    .exp-value-mobile {
                        position: absolute;
                        display: inline-block;
                        font-size: 8pt;
                        font-size: 75%;
                        height: 25%;
                    }

                    .exp-bar-mobile {
                        border: 1px solid black;
                        height: 55%;
                        width: 85%;
                        bottom: 0;
                        position: absolute;

                        .exp-fill {
                            height: 100%;
                            width: 0%;
                            background-color: black;
                        }
                    }

                    .exp-rank {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        height: 55%;
                        width: 11%;
                    }
                }

            }
        }

        .profile-divider {
            display: block;
            position: relative;
            height: 1px;
            margin: 10px 0;
            background-color: black;
        }

    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);

    .popup-content {
        position: relative;
        padding: 15px;
        margin: 0 auto;
        top: 12.5%;
        height: 70%;
        width: 50%;
        background-color: rgba(245, 245, 245, 1);
    }
}

.vertical-align {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}
