.notifications {
  position: fixed;
  display: inline-block;
  padding: 0;
  top: 0;
  right: 0; }
  .notifications > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 15px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden; }
    .notifications > div div {
      flex: 1;
      position: relative;
      padding: 5px 30px 5px 8px;
      width: 100%;
      min-height: 42px;
      border: 1px solid; }
      @media (max-width: 768px) {
        .notifications > div div {
          font-size: 8pt; } }
      @media (min-width: 768px) and (max-width: 992px) {
        .notifications > div div {
          font-size: 10pt; } }
      .notifications > div div i {
        position: absolute;
        top: 5px;
        right: 10px; }
        @media (max-width: 992px) {
          .notifications > div div i {
            top: calc(50% - 8px); } }
        .notifications > div div i:hover {
          cursor: pointer;
          opacity: .5; }

.create-lobby-title {
  text-align: center;
  font-size: 150%; }

.create-lobby-form {
  padding: 10%; }
  @media (max-width: 768px) {
    .create-lobby-form {
      padding: 5%; }
      .create-lobby-form label {
        display: inline; } }

.dd-option-image, .dd-selected-image {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  max-height: 41px; }

.dd-select {
  border-radius: 0px; }

.dd-selected {
  background-color: white; }

.dd-option-text {
  line-height: normal !important; }

.claim-victory-title {
  text-align: center; }

.claim-victory-timer {
  text-align: center;
  font-size: 4vh; }

.claim-victory-counter {
  text-align: center;
  font-size: 5vh; }

.claim-victory-place {
  margin-top: 5vh; }

#victory-claim, .claim-victory-loading {
  position: absolute;
  bottom: 15px;
  display: block;
  height: 10vh;
  width: calc(100% - 30px);
  text-align: center; }

.declare-winners-title {
  text-align: center; }

.declare-winners-list {
  margin-top: 5vh;
  max-height: 70%;
  height: 70%;
  overflow: scroll;
  padding: 2px; }
  .declare-winners-list li {
    list-style-type: none;
    margin-bottom: 10px; }
    .declare-winners-list li span {
      width: 80%;
      display: inline-block; }
    .declare-winners-list li select {
      width: 20%;
      display: inline-block; }

.claim-victory-counter {
  text-align: center;
  font-size: 5vh; }

.claim-victory-place {
  margin-top: 5vh; }

#victory-claim, .claim-victory-loading {
  position: absolute;
  bottom: 15px;
  margin-left: 2px;
  display: block;
  height: 10vh;
  width: calc(100% - 30px);
  text-align: center; }

@font-face {
  font-family: 'VisitorTT1BRK';
  src: url("../fonts/VisitorTT1BRK.woff") format("woff"), url("../fonts/VisitorTT1BRK.ttf") format("truetype"), url("../fonts/VisitorTT1BRK.svg#VisitorTT1BRK") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'visitor1';
  src: url("../fonts/visitor1.eot");
  src: url("../fonts/visitor1.eot?#iefix") format("embedded-opentype"), url("../fonts/visitor1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-family: 'visitor1', 'VisitorTT1BRK', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  position: relative; }

.test {
  z-index: 50;
  position: fixed;
  bottom: 0; }

.disable-scroll {
  overflow-x: hidden;
  overflow-y: hidden; }

@keyframes animatedBackground {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-20000000px); } }

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; }
  .bg .bg-0 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3000000%;
    height: 20vh;
    background: url("../images/mario-ground.png");
    background-size: auto 20vh;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation-name: animatedBackground;
    animation-duration: 200000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  .bg .bg-1 {
    position: absolute;
    bottom: 20vh;
    width: 3000000%;
    height: 50vh;
    background-image: url("../images/mario-hills.png");
    background-size: auto 50vh;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation-name: animatedBackground;
    animation-duration: 200000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

.content {
  height: 100%; }
  .content .login {
    display: none;
    min-height: 100%; }
    .content .login form label[for="username"] {
      display: none; }
    .content .login form input[type="submit"] {
      width: calc(50% - 5px); }
  .content .session {
    display: none;
    height: 100%;
    flex-direction: column; }
    .content .session .session-stretch {
      height: calc(100% - 15px); }
    .content .session .row .profile {
      margin-top: 15px;
      padding: 10px;
      height: 100%;
      position: relative; }
      .content .session .row .profile .profile-logout {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        margin: 5px;
        height: 27px;
        z-index: 3; }
        .content .session .row .profile .profile-logout:hover {
          cursor: pointer; }
      .content .session .row .profile .profile-container {
        position: relative;
        width: 100%; }
        .content .session .row .profile .profile-container div {
          display: inline-block; }
        .content .session .row .profile .profile-container .avatar {
          width: 25%;
          padding-right: 10px; }
        .content .session .row .profile .profile-container .profile-section-exp {
          height: 100%;
          width: 75%;
          position: absolute; }
          .content .session .row .profile .profile-container .profile-section-exp .username {
            display: block;
            height: 25%;
            position: relative;
            font-size: 14pt;
            font-size: 150%;
            line-height: 1em; }
          .content .session .row .profile .profile-container .profile-section-exp .rank {
            position: relative;
            top: -4px;
            height: 25%;
            font-size: 9pt;
            font-size: 85%; }
          .content .session .row .profile .profile-container .profile-section-exp .exp {
            position: relative;
            top: -10%;
            height: 50%;
            display: block; }
            .content .session .row .profile .profile-container .profile-section-exp .exp .exp-value {
              position: absolute;
              display: inline-block;
              font-size: 8pt;
              font-size: 75%;
              height: 25%; }
            .content .session .row .profile .profile-container .profile-section-exp .exp .exp-bar {
              border: 1px solid black;
              height: 55%;
              width: 85%;
              bottom: 0;
              position: absolute; }
              .content .session .row .profile .profile-container .profile-section-exp .exp .exp-bar .exp-fill {
                height: 100%;
                width: 0%;
                background-color: black; }
            .content .session .row .profile .profile-container .profile-section-exp .exp .exp-rank {
              position: absolute;
              right: 0;
              bottom: 0;
              height: 55%;
              width: 11%; }
      .content .session .row .profile .profile-divider {
        display: block;
        position: relative;
        height: 1px;
        margin: 10px 0;
        background-color: black; }
      .content .session .row .profile .user-list thead th {
        text-align: center; }
    .content .session .row .session-main {
      padding: 0; }
      @media (max-width: 991px) {
        .content .session .row .session-main {
          padding: 0 15px; } }
      .content .session .row .session-main .lobby-panel {
        text-align: center;
        padding: 10px;
        height: calc(60% - 10px);
        margin-top: 15px;
        position: relative; }
        .content .session .row .session-main .lobby-panel .lobby-status {
          opacity: .5;
          position: relative;
          top: calc(50% - 34px); }
        .content .session .row .session-main .lobby-panel .lobby-list {
          display: none;
          position: relative;
          height: calc(100% - 44px);
          text-align: initial; }
          .content .session .row .session-main .lobby-panel .lobby-list tbody tr {
            max-height: 40px; }
          .content .session .row .session-main .lobby-panel .lobby-list tbody tr:hover {
            background-color: #DCDCDC;
            cursor: pointer; }
        .content .session .row .session-main .lobby-panel .session-buttons {
          position: absolute;
          width: 100%;
          bottom: 10px;
          left: 0; }
          .content .session .row .session-main .lobby-panel .session-buttons .fa {
            display: none;
            padding: 1px; }
      .content .session .row .session-main .activity-panel {
        display: flex;
        flex-direction: column;
        position: relative;
        height: calc(40% - 10px); }
        @media (max-width: 991px) {
          .content .session .row .session-main .activity-panel {
            height: calc(24% - 10px); } }
        .content .session .row .session-main .activity-panel .activity-panel-header {
          max-height: 25%;
          text-align: center;
          font-size: 1.5em; }
          @media (max-width: 991px) {
            .content .session .row .session-main .activity-panel .activity-panel-header {
              font-size: 1em; } }
        .content .session .row .session-main .activity-panel .activity-panel-notification {
          flex: 1;
          display: flex;
          align-items: center;
          position: relative;
          width: 100%;
          opacity: 0.5; }
          .content .session .row .session-main .activity-panel .activity-panel-notification .notification-content {
            display: inline-block;
            width: calc(100% - 40px);
            height: auto;
            margin-left: 0; }
            .content .session .row .session-main .activity-panel .activity-panel-notification .notification-content .notification-game {
              font-size: 22px;
              margin-top: 0;
              margin-bottom: 0;
              padding-bottom: 0;
              padding-top: 0;
              margin-left: 10px;
              opacity: 1; }
            .content .session .row .session-main .activity-panel .activity-panel-notification .notification-content .notification-title {
              font-size: 18px;
              margin-top: 0;
              margin-bottom: 0;
              padding-bottom: 0;
              padding-top: 0;
              margin-left: 10px;
              opacity: 1; }
            .content .session .row .session-main .activity-panel .activity-panel-notification .notification-content .notification-info {
              font-size: 12px;
              margin-top: 0;
              margin-bottom: 0;
              padding-bottom: 0;
              padding-top: 0;
              margin-left: 10px;
              opacity: 1; }
          .content .session .row .session-main .activity-panel .activity-panel-notification .notification-next {
            margin-right: 0;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 15px solid black; }
            .content .session .row .session-main .activity-panel .activity-panel-notification .notification-next:hover {
              cursor: pointer; }
      .content .session .row .session-main .lobby-active-panel {
        display: none;
        margin-top: 15px;
        padding: 15px;
        position: relative;
        height: 100%; }
        @media (max-width: 768px) {
          .content .session .row .session-main .lobby-active-panel {
            height: 84%; } }
        .content .session .row .session-main .lobby-active-panel .lobby-active-players {
          padding: 0;
          float: left;
          display: inline-flex;
          flex-direction: column;
          height: calc(100% - 60px);
          width: calc(100% - 130px);
          list-style-type: none;
          border: black 1px solid; }
          @media (max-width: 768px) {
            .content .session .row .session-main .lobby-active-panel .lobby-active-players {
              display: flex;
              float: none;
              height: 60%;
              width: 100%; } }
          .content .session .row .session-main .lobby-active-panel .lobby-active-players div:first-child {
            text-align: center;
            height: 40px;
            line-height: 40px;
            border-bottom: black 1px solid; }
          .content .session .row .session-main .lobby-active-panel .lobby-active-players .lobby-active-player {
            height: 40px;
            border-bottom: black 1px solid; }
        .content .session .row .session-main .lobby-active-panel .lobby-active-actions {
          float: right;
          display: inline-flex;
          flex-direction: column-reverse;
          position: relative;
          padding-left: 10px;
          width: 130px;
          height: calc(100% - 60px); }
          @media (max-width: 768px) {
            .content .session .row .session-main .lobby-active-panel .lobby-active-actions {
              display: flex;
              float: none;
              width: 100%;
              height: 25%;
              padding: 10px 0 0 0;
              flex-direction: row;
              justify-content: space-between; }
              .content .session .row .session-main .lobby-active-panel .lobby-active-actions > button:not(:first-child) {
                margin-bottom: 0px; }
              .content .session .row .session-main .lobby-active-panel .lobby-active-actions > button {
                height: 45%; } }
          .content .session .row .session-main .lobby-active-panel .lobby-active-actions #round-start {
            display: none; }
          .content .session .row .session-main .lobby-active-panel .lobby-active-actions > button:not(:first-child) {
            margin-bottom: 10px; }
      .content .session .row .session-main #trigger-session, .content .session .row .session-main #join-session, .content .session .row .session-main #create-lobby {
        display: none; }

.profile-mobile-row {
  display: block;
  position: absolute;
  top: 86vh;
  width: 100%; }
  .profile-mobile-row .profile-mobile {
    position: relative;
    height: 100vh;
    padding: 5px;
    -webkit-box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -6px 0 0 rgba(0, 0, 0, 0.2); }
    .profile-mobile-row .profile-mobile .profile-mobile-close {
      display: none;
      position: absolute;
      padding: 10px;
      right: 0;
      top: 0; }
    .profile-mobile-row .profile-mobile .profile-logout {
      display: none;
      position: absolute;
      top: 0;
      right: 40px;
      padding: 10px; }
    .profile-mobile-row .profile-mobile .profile-container {
      position: relative;
      height: calc(14vh - 10px); }
      .profile-mobile-row .profile-mobile .profile-container div {
        display: inline-block; }
      .profile-mobile-row .profile-mobile .profile-container .avatar-mobile {
        width: auto;
        height: 100%;
        padding-right: 5px; }
        .profile-mobile-row .profile-mobile .profile-container .avatar-mobile img {
          height: 100%; }
      .profile-mobile-row .profile-mobile .profile-container .profile-mobile-section-exp {
        height: 100%;
        width: 75%;
        position: absolute; }
        .profile-mobile-row .profile-mobile .profile-container .profile-mobile-section-exp .username {
          display: block;
          height: 25%;
          position: relative;
          font-size: 14pt;
          font-size: 150%;
          line-height: 1em; }
        .profile-mobile-row .profile-mobile .profile-container .profile-mobile-section-exp .rank {
          position: relative;
          top: -4px;
          height: 25%;
          font-size: 9pt;
          font-size: 85%; }
        .profile-mobile-row .profile-mobile .profile-container .profile-mobile-section-exp .exp-mobile {
          position: relative;
          top: -10%;
          height: 50%;
          display: block; }
          .profile-mobile-row .profile-mobile .profile-container .profile-mobile-section-exp .exp-mobile .exp-value-mobile {
            position: absolute;
            display: inline-block;
            font-size: 8pt;
            font-size: 75%;
            height: 25%; }
          .profile-mobile-row .profile-mobile .profile-container .profile-mobile-section-exp .exp-mobile .exp-bar-mobile {
            border: 1px solid black;
            height: 55%;
            width: 85%;
            bottom: 0;
            position: absolute; }
            .profile-mobile-row .profile-mobile .profile-container .profile-mobile-section-exp .exp-mobile .exp-bar-mobile .exp-fill {
              height: 100%;
              width: 0%;
              background-color: black; }
          .profile-mobile-row .profile-mobile .profile-container .profile-mobile-section-exp .exp-mobile .exp-rank {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 55%;
            width: 11%; }
    .profile-mobile-row .profile-mobile .profile-divider {
      display: block;
      position: relative;
      height: 1px;
      margin: 10px 0;
      background-color: black; }

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6); }
  .popup .popup-content {
    position: relative;
    padding: 15px;
    margin: 0 auto;
    top: 12.5%;
    height: 70%;
    width: 50%;
    background-color: whitesmoke; }
    @media (max-width: 768px) {
      .popup .popup-content {
        width: 100%; } }

.vertical-align {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center; }
