<div class="claim-victory-title">
    What Did You Place?
</div>
<div class="claim-victory-timer">
    <span class="claim-victory-timer-value"></span>
</div>
<div class="claim-victory-counter"></div>
<div class="claim-victory-loading" style="display: none;">
    <span class="fa fa-circle-o-notch fa-spin"></span>
    <span>Waiting for other players...</span>
</div>
<select class="claim-victory-place" id="victory-place"></select>
<button type="button" class="btn btn-default" id="victory-claim">Claim</button>
